.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis/figures/local_grid.png
analysis/figures/nonlocal_grid.png
analysis/paper/paper.docx
analysis/supplementary-materials/nul
analysis/supplementary-materials/SOM_datadictionaries.docx
analysis/supplementary-materials/SOM_datadictionaries.pdf
analysis/supplementary-materials/SOM_lithotypes.docx
